<div class="row">
    <div class="col-md-6">
        <img class="col-md-12"
            alt="River Ure"
            src="assets/Ure.jpg"
            style="margin-bottom: 16px;"
        />
        <br/>
        <img class="col-md-12"
            alt="River Ure"
            src="assets/Roecliffe.jpg"
            style="margin-bottom: 16px;"
        />

    </div>
    <div class="col-md-6">
        Welcome to the Boroughbridge & District Angling Club. The club has a selection of waters, some being members only (with guest tickets available) and some day ticket waters.
        <br/>
        <br/>

        <mat-card class="error-alert-card">
            <mat-card-content>
                <b>NO NIGHT FISHING ON ANY OF THE CLUB'S WATERS!</b>
            </mat-card-content>
        </mat-card>
        <br/>

        Unrestricted access is available to: -
        <ul>
            <li>News</li>
            <li>Club waters having day ticket access</li>
            <li>Club Info
                <ul>
                    <li>Club Officers</li>
                    <li>Club Forms (<a href="forms">available here</a>)</li>
                    <li>Environmental Policy</li>
                    <li *ngIf="!isLoading">
                        <div>
                            Privacy Notice
                        </div>
                    </li>
                </ul>
            </li>
            <li *ngIf="!isLoading">
                <div class="custom-badge-wide" 
                    matBadge="new" 
                    matBadgeOverlap="true" 
                    matBadgePosition="after" 
                    matBadgeSize="small"
                    matBadgeColor="accent">
                    <a mat-list-item routerLink="/buyMemberships">Memberships - buy online</a>
                </div>
            </li>
            <li *ngIf="!isLoading">
                <div class="custom-badge-wide" 
                    matBadge="new" 
                    matBadgeOverlap="true" 
                    matBadgePosition="after" 
                    matBadgeSize="small"
                    matBadgeColor="accent">
                    <a mat-list-item routerLink="/buyDayTickets">Day Tickets - buy online</a>
                </div>
                <b>Please note: </b>Day tickets can only be used on the Old Cricket Field/Aldborough stretch. They cannot be used on the members-only stretches. However non-members can fish these stretches if they accompany a member <b>and</b> the member obtains a <a mat-list-item routerLink="/buyGuestTickets">Guest Ticket</a> for the non-member. 
            </li>
        </ul>
        Members get additional access to: -
        <ul>
            <li>Members-only club waters</li>
            <li>Diary of events</li>
            <li>Rules</li>
            <li>Matches
                <ul>
                    <li>Fixtures</li>
                    <li>Results</li>
                    <li>League standings</li>
                    <li>Aggregate weight standings</li>
                </ul>
            </li>
            <li *ngIf="!isLoading">
                <div class="custom-badge-wide" 
                    matBadge="new" 
                    matBadgeOverlap="true" 
                    matBadgePosition="after" 
                    matBadgeSize="small"
                    matBadgeColor="accent">
                    <a mat-list-item routerLink="/buyGuestTickets">Guest Tickets - buy online</a>
                </div>
            </li>
        </ul>
        In addition to this website, the club also has a Facebook Group and a YouTube Channel (links to both available at the top of the page). 
        <br/>
        <br/>
    </div>
</div>

