<!-- 
BOROUGHBRIDGE & DISTRICT ANGLING CLUB understands that its activities impact upon the environment and is committed to the following environmental policy:
<br/>
<br/>
<h2>Environmental Policy</h2>
Boroughbridge & District Angling Club will:
<ul>
    <li>Minimise the impacts of its usage on the natural and social environment through effective environmental management.</li>
    <li>Integrate environmental management into our club and its members.</li>
    <li>Review its environmental performance with members to establish continual improvement.</li>
    <li>Increase the environmental awareness of all its members.</li>
    <li>Establish systems for the prevention of pollution at all its fishing sites.</li>
    <li>Comply with all the environmental legislation, regulations and other requirements that are relevant to its activities.</li>
    <li>Report on its environmental performance to all interested parties.</li>
</ul>
<div style="align-items: center;">
    The Chairman and Committee of
    <br/>
    Boroughbridge & District Angling Club
</div> -->

<mat-card>
    <mat-card-header>
        <mat-card-title>Environmental Policy</mat-card-title>
        <mat-card-subtitle>BOROUGHBRIDGE & DISTRICT ANGLING CLUB understands that its activities impact upon the environment and is committed to the following environmental policy: -</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <ul>
            <li>Minimise the impacts of its usage on the natural and social environment through effective environmental management.</li>
            <li>Integrate environmental management into our club and its members.</li>
            <li>Review its environmental performance with members to establish continual improvement.</li>
            <li>Increase the environmental awareness of all its members.</li>
            <li>Establish systems for the prevention of pollution at all its fishing sites.</li>
            <li>Comply with all the environmental legislation, regulations and other requirements that are relevant to its activities.</li>
            <li>Report on its environmental performance to all interested parties.</li>
        </ul>
        <div style="text-align: center;">
            The Chairman and Committee of
            <br/>
            Boroughbridge & District Angling Club
            <br/>
            <br/>
            <i>CLEAN BANKS MAKE FOR HAPPY FARMERS</i>
        </div>                
    </mat-card-content>
</mat-card>

<mat-card class="centered-danger-card" >
    <div>
        <div style="text-align: center;">
            <h2>WATER POLLUTION</h2>
        </div>                
        Any member observing signs of pollution are requested to immediately telephone the Environment Agency Incident Hotline and/or ANY of the clubs officers.
        <br/>
        <br/>
        <mat-card-title>
            <table>
                <tr>
                    <td>ENVIRONMENT AGENCY INCIDENT HOTLINE</td>
                </tr>
            </table>
            <br/>
            <table>
                <tr>
                    <td>0800 807060</td>
                </tr>
            </table>
        </mat-card-title>
    </div>
</mat-card>
