<mat-card class="news-card">
    <mat-card-header>
        <mat-card-title>Chairman</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        Mr G.Lumsden<br/>
        Tel: 01765 605520<br/>
        Mob: 07590 927451<br/>
        Email: <a href="mailto:gary.lumsden01@btinternet.com">gary.lumsden01&#64;btinternet.com</a><br/>
    </mat-card-content>
</mat-card>
<br/>
<mat-card class="news-card">
    <mat-card-header>
        <mat-card-title>Treasurer / Membership Secretary / GDPR Data Processor</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        Mr G.Tilburn<br/>
        19 St.Johns Walk, Kirby Hill, Boroughbridge<br/>
        Tel: 07713 980625<br/>
        Email: <a href="mailto:gtilburn@outlook.com">gtilburn&#64;outlook.com</a><br/>
    </mat-card-content>
</mat-card>
<br/>
<mat-card class="news-card">
    <mat-card-header>
        <mat-card-title>Secretary</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        Mrs C.Adcock<br/>
        Tel: 01423 323603<br/>
    </mat-card-content>
</mat-card>
<br/>
<mat-card class="news-card">
    <mat-card-header>
        <mat-card-title>Match Secretary</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        Mr K.Adcock<br/>
        Tel: 07980 009542<br/>
    </mat-card-content>
</mat-card>
<br/>
<mat-card class="news-card">
    <mat-card-header>
        <mat-card-title>Junior Development Officer</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        Mr A.Annat<br/>
        Tel: 07568 396017<br/>
        Email: <a href="mailto:andyannat@icloud.com">andyannat&#64;icloud.com</a><br/>
    </mat-card-content>
</mat-card>
<br/>
<mat-card class="news-card">
    <mat-card-header>
        <mat-card-title>GDPR Data Protection Officer</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        Mr S.Townend<br/>
        Tel: 07872 496563<br/>
        Email: <a href="mailto:steve@townendmail.co.uk">steve&#64;townendmail.co.uk</a><br/>
    </mat-card-content>
</mat-card>
<br/>
<mat-card class="news-card">
    <mat-card-header>
        <mat-card-title>Committee</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        Mr P Atkinson<br/>
        Tel: 07759 105497<br/>
        Email: <a href="mailto:paul.atkinson31@btinternet.com">paul.atkinson31&#64;btinternet.com</a><br/>
        <br/>
        Mr S.Dunderdale<br/>
        Tel: 07419 357598<br/>
        Email: <a href="mailto:stigger66@outlook.com">stigger66&#64;outlook.com</a><br/>
        <br/>
        Mr L.Caygill<br/>
        <br/>
        Mrs L.Frankland<br/>
        Tel: 07485 246161<br/>
        Email: <a href="mailto:lynn.frankland@icloud.com">lynn.frankland&#64;icloud.com</a><br/>
        <br/>
        Mr R.Frankland<br/>
        Tel: 07594 559683<br/>
        <br/>
        Mr P.Ingledew<br/>
        Home: 01423 865245<br/>
        Mob: 07762 943002<br/>
        <br/>
        Mr J.Kemp<br/>
        Tel: 07905 133092<br/>
        Email: <a href="mailto:johnkemp106@yahoo.co.uk">johnkemp106&#64;yahoo.co.uk</a><br/>
        <br/>
        Mr S.Townend<br/>
        Tel: 07872 496563<br/>
        Email: <a href="mailto:steve@townendmail.co.uk">steve&#64;townendmail.co.uk</a><br/>
        <br/>
    </mat-card-content>
</mat-card>
