<h1>My Details</h1>
<div class="container details-panel" *ngIf="this.prefs != undefined ">
    <div class="row">
        <div class="col-md-2">
            Membership Number: <b>{{membersService.CurrentMember.membershipNumber}}</b>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            Name: <b>{{name}}</b>
        </div>
    </div>
    <br/>
    <p class="small-notes">Please confirm that you are happy for your name to be used in match results, league standings etc. If you do not wish to have your name displayed, you will appear as "Anonymous" instead. </p>
    <p class="small-notes"><b>Note:</b> This will only ever be visible to other club members and never shared.</p>
    <div class="checkbox-wrapper">
        <mat-checkbox [(ngModel)]="this.prefs.allowNameToBeUsed">&nbsp;Allow my name to be stored and used</mat-checkbox>
    </div>
    <mat-form-field>
        <mat-label>Email (optional)</mat-label>
        <input type="email" name="email" [formControl]="emailControl" class="title-form-field" ngModel email="true" matInput [(ngModel)]="this.prefs.email">
        <div *ngIf="emailControl.invalid && (emailControl.dirty || emailControl.touched)" class="alert">
            Please enter a valid email address.
        </div>
    </mat-form-field>
    <br/>
    <p class="small-notes">Your email will simplify PIN resets and may be used for important club notifications.</p>
    <div mat-dialog-actions class="edit-button-panel">
        <button mat-raised-button color="primary" [disabled]="emailControl.invalid" (click)="submit()">Save Details</button>
    </div>
    <br/>
    <br/>
    <span *ngIf="status">{{status}}</span>
    <app-policy-panel-no-purchases></app-policy-panel-no-purchases>
</div>

