<mat-card class="news-card">
    <mat-card-header>
        <mat-card-title>Junior / Intermediate - Match Rules</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div style="padding-left: 18px;">
            <b>Draw 12:00pm - Fish 1:00pm - 4:00pm</b>
        </div>

        <ol>
            <li>An FOC Junior, Over 12 Junior or Intermediate member shall only be allowed to fish matches if accompanied by one of the named (responsible) persons on their disclosure form. The named (responsible) person must carry ID as proof of identity.</li>
            <br/>
            <li>During any match, the named (responsible) person must accompany the Junior/Intermediate angler throughout the duration of the match & at no time must they be unsupervised.</li>
            <br/>
            <li>The named (responsible) person attending the match will be totally responsible for the person in their charge.</li>
            <br/>
            <li>No FOC Junior, OVER 12 Junior or Intermediate can personally enter any match pools in Senior matches until they are a senior.</li>
            <br/>
            <li>A series of Junior matches, with no entry fee, are fished each 	year for trophies. Non-cash prizes will be awarded.</li>
            <br/>
            <li>Casting can be done by the accompanying adult, but the rod 	must then be immediately passed to the Junior angler </li>
            <br/>
            <li>There are no feeding restrictions by the adult, other than the normal pond rules.</li>
            <br/>
            <li>When reeling in and landing a fish ALL juniors must have one hand on the rod with their other hand on the reel. An adult may only help by the supporting of and the raising of the rod itself and may assist with all aspects of netting and unhooking of the fish.</li>
            <br/>
            <li>ANY fish accidentally hooked by an adult MUST be immediately and freely returned to the water.</li>
            <br/>
            <li>Matches fished at Roecliffe Pond are fished under the latest pond rules, as per the noticeboard.</li>
        </ol>
    </mat-card-content>
</mat-card>

