<h1 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>{{title}}</h1>
<br/>
<div mat-dialog-content>
    <mat-form-field class="email-form-field">
        <mat-label>Email <Address></Address></mat-label>
        <input matInput [(ngModel)]="data.emailAddress">
    </mat-form-field>
    <br/>
    <br/>
</div>
<div mat-dialog-actions class="edit-button-panel">
    <button class="edit-button" mat-raised-button color="primary" value="Confirm" [mat-dialog-close]="data" >Save</button>
    <button class="edit-button" mat-raised-button color="primary" (click)="cancel()">Cancel</button>
</div>
