<mat-card>
    <mat-card-content>
        <div style="text-align: center;">
            <img
                width="200px"
                alt="Angling Trust Logo"
                src="assets/Angling-Trust-logo.png"
            />
        </div>
        The club is a member and proud supporter of the Angling Trust. 
        <br/>
        <br/>
        The club is insured with the Angling Trust Insurance Scheme. 
        <br/>
        <br/>
        Angling Trust are a not for profit organisation, representing anglers, fighting for fish, fishing and the environment. <a target="_blank" href="https://anglingtrust.net/">You can find out more here</a>
    </mat-card-content>
</mat-card>
