<mat-card class="news-card">
    <mat-card-header>
        <mat-card-title>Junior / Intermediate - General Rules</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div style="padding-left: 18px;">
            Membership for Juniors is FREE up to the age of 12 years.
        </div>

        <ol>
            <li>Membership
                <ul>
                    <li>A Junior/Intermediate Parental Consent Form must be completed when applying for club membership.
                    <br/>No completed Parental Consent Form - no membership.</li>
                    <br/>
                    <li>All Juniors must be accompanied by one of the nominated people from their Parental Consent Form, at all times whilst fishing the following venues:
                    <ul>
                        <li>Ellenthorpe Hall</li>
                        <li>Ellenthorpe Lodge </li>
                        <li>Roecliffe Ponds</li>
                    </ul>
                    <br/>This rule applies for the full duration of the time spent fishing 	on any one day.</li>
                    <br/>
                    <li>“FOC JUNIOR MEMBERSHIP” runs until the 1st April AFTER your 12th birthday. Once you are 12, BEFORE the 1st of April, you then become an Over 12 Junior Member, at small fee.</li>
                    <br/>
                    <li>“OVER 12 JUNIOR MEMBERSHIP” runs until the 1st of April AFTER your 16th birthday. Once you are 16, BEFORE 1st April you then become an INTERMEDIATE MEMBER.</li>
                    <br/>
                    <li>“INTERMEDIATE MEMBERSHIP” runs until the 1st of April AFTER your 18th birthday. Once you are 18, ie BEFORE 1st April you then become a Senior Member, and pay the full fees.</li>
                </ul>
            </li>
            <br/>
            <li>Parents of Junior/Intermediate members must join the club as a NON Fishing Member and the Parent will have to purchase a gate key to fish Roecliffe Pond. This carries a deposit of £8.00 which is fully refundable upon request and return of the key.</li>
            <br/>
            <li>All Junior/Intermediate members are expected to abide by club rules and be of good conduct when fishing.</li>
            <br/>
            <li>Parents must NEVER drop off Junior members at any of the clubs venues and leave them to fish on their own.</li>
            <br/>
            <li>If fishing Roecliffe Pond you must familiarise yourself with the rules on the pond notice boards.</li>
            <br/>
        </ol>
    </mat-card-content>
</mat-card>

