<h1>Can you help? Junior anglers need fishing tackle</h1>

<p>
    The junior section at Boroughbridge is urgently in need of fishing tackle to support new and 
    upcoming young anglers. Many anglers start their fishing journey with handed down or borrowed 
    tackle from friends and relatives who fish.
</p>
<p>
    As the junior section continues to grow, there is a need for more equipment to support the 
    increasing number of young anglers who are getting involved in angling. The junior section at 
    Boroughbridge aims to provide opportunities for junior anglers to participate in matches, receive 
    coaching, and promote angling in schools throughout North Yorkshire.
</p>
<p>
    The junior section is open to all junior anglers in North Yorkshire, and it welcomes young anglers 
    of all skill levels and backgrounds. By providing access to fishing tackle and organising events 
    and coaching sessions, the junior section aims to foster a love for angling and create a safe, 
    supportive and inclusive community for young anglers.
</p>
<p>
    If you have any unused or unwanted fishing tackle that you would like to donate to the junior 
    section at Boroughbridge, it would be greatly appreciated. Your contribution will help support the 
    next generation of anglers and provide them with the necessary equipment to pursue their 
    passion for fishing.
</p>
<p>
    To donate or for more information about the junior section at Boroughbridge, please contact
    Andy Annat - 07568 396017
</p>
<p>
    <b>
    Let's come together as a fishing community to support and inspire the junior anglers of North 
    Yorkshire!
    </b>
</p>