<mat-card class="news-card">
    <mat-card-header>
        <mat-card-title>Match Rules</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div style="padding-left: 18px;">
            Match Draw <b>16th June to 31st October &#64; 8:30am prompt</b>
            <br/>
            Match Draw <b>1st November to end of season &#64; 8am prompt</b>
        </div>
        <ul>
            <li>Anyone arriving late, after the draw, WILL NOT be eligible to fish, unless the match secretary has been informed prior to the draw.</li>
            <li>Duration of match to be announced on the day.</li>
            <li>Sweeps optional (Junior Members: See Junior Rules)</li>
        </ul>

        <ol>
            <li>One rod, one hook, one line, or one pole. All other poles/rods not in use, must be on clear view on the bank, behind the competitor.
                <br/>No bait boats.
                <br/>No doubles or treble hooks.
                <br/>No re-hooking allowed.</li>
                <br/>
                <li>Keep nets must be used to N.R.A. specification. All fish to be treated with respect and returned alive.</li>
                <br/>
                <li>All live fish weigh, with the exception of pike, minnows and game fish.</li>
                <br/>
                <li>Competitors may assist each other in netting or landing fish.</li>
                <br/>
                <li>Before the starting signal no competitor must on any account, ground bait or loose feed his swim, but will be allowed to wet a line, plumb the depth and test the float, mix ground bait, clear his fishing ground of weed or obstructions and position his keep net. On no account must a feeder be used to plumb the depth before the starting signal.</li>
                <br/>
                <li>Competitors must fish at peg drawn and under no circumstances be allowed to change pegs, unless agreed by that days match officials</li>
                <br/>
                <li>Competitors must not move more than one yard each side of their peg to fish.  No artificial baits, lures, or the use of any fish finding devices during a match.</li>
                <br/>
                <li>Competitors must not fish below the next peg drawn or not, or past the stop peg, nor cast or throw feed into swim above.</li>
                <br/>
                <li>A competitor may wade to fish, provided that at no time the water level extends above knee height.</li>
                <br/>
                <li>A competitor must cease fishing at the finishing signal. Should they still be playing a fish hooked before the signal is given, they must shout “Fish On” and they will be permitted not more than fifteen minutes after time has been called, to land and net the fish.</li>
                <br/>
                <li>Any angler withdrawing from a match must leave the match area and not start re-fishing in any undrawn peg in the match stretch.</li>
                <br/>
                <li>Any competitor leaving there peg must withdraw tackle from water.  Failing to comply will lead to disqualification.</li>
                <br/>
                <li>Any competitor having paid entry fee and sweeps cannot have a refund after the draw.</li>
                <br/>
                <li>All fish tendered to scales become the property of the match officials, who will witness the careful return of such fish to the water.</li>
                <br/>
                <li>The signal for start and finish of the match will be given by the match official on the day. This must then be passed down by the competitors.</li>
                <br/>
                <li>Any objection to any competitor shall be made to the match official during the match. The ‘complainant’ shall also follow up any verbal complaint, in writing, to the club committee. Any prize money will be withheld pending their decision.  The competitor concerned shall have the right to appear before the match committee, when the case is discussed.</li>
                <br/>
                <li>Any competitor breaking any rules will be disqualified.</li>
                <br/>
                <li>All matches, except the Xmas match, club open matches, pairs matches and the officials match, will count for one of the clubs aggregate trophies.</li>
                <br/>
                <li>The biggest fish, the chub cup, the largest roach trophy cannot be won on the Xmas match, open matches, pairs matches or Officials match.
                <br/>No club trophies can be won outright. </li>
                <br/>
                <li>Competitors are responsible for ensuring that their pegs are clear of all litter and no competitor may have his catch weighed in, who has litter lying on the banks of his swim.</li>
                <br/>
                <li>All the clubs General Rules also apply to matches. </li>
                <br/>
                <li>Roecliffe Pond matches are run following the pond rules as shown on the pond notice boards. </li>
                <br/>
                <li>Two match committee members shall be nominated on the morning of each match, to act as that days’ match officials.  </li>
                <br/>
                <li>Any specific water rules, take precedence over match rules.</li>
                <br/>
                <li>The match secretary / match official may change the venue prior to and/or even on the morning of the match if they deem the planned match length dangerous/unsafe or unfishable.</li>
                </ol>
                <b>Please check on the clubs Facebook page for any late changes of venue due to severe flooding or dangerous conditions on the river banks.
                </b>
    </mat-card-content>
</mat-card>

