<mat-card class="members-only-card">
    <mat-card-content>
        <p *ngIf="previewService.inBeta">PIN numbers are not being handed out yet as the site is being beta tested.</p>
        <p *ngIf="!previewService.inBeta">Don't have a PIN? Request one from the Membership Officer (contact details on the <a href="/officers">Club Officers</a> page).</p>
    </mat-card-content>
</mat-card>
<mat-card class="login-card">
    <mat-card-header>
        <mat-card-title>Member Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field [style.width.px]=200  >
            <mat-label>Membership Number</mat-label>
            <input matInput type="number" name="username" id="username" (keyup.enter)="onSubmit()" [(ngModel)]="membershipNo">
        </mat-form-field>
        <br/>
        <mat-form-field [style.width.px]=200  >
            <mat-label>PIN</mat-label>
            <input matInput type="number" name="password" id="password" (keyup.enter)="onSubmit()" [(ngModel)]="pin" >
        </mat-form-field>
        <br/>

        <div *ngIf="pinResetRequired">
            <div class="info" [style.width.px]=200>
                Your PIN has recently been reset. Therefore, you must enter a new PIN number of your choice
            </div>
            <br/>
            <mat-form-field [style.width.px]=200  >
                <mat-label>New PIN</mat-label>
                <input matInput type="number" [(ngModel)]="newPin">
            </mat-form-field>
            <br/>
            <mat-form-field [style.width.px]=200  >
                <mat-label>Confirm new PIN</mat-label>
                <input matInput type="number" [(ngModel)]="newPinConfirmation" minlength="4">
            </mat-form-field>
            <br/>

            <button mat-raised-button color="primary" (click)="onNewPin()"  >Save new PIN</button>
            <br/>
            <br/>
            <div *ngIf="error != ''" class="warn" [style.width.px]=200>{{error}}</div>
        </div>

        <mat-checkbox [(ngModel)]="stayLoggedIn">
            Stay logged in on this device?
        </mat-checkbox>
        <br/>
        <br/>
        <button mat-raised-button color="primary"  *ngIf="!pinResetRequired" (click)="onSubmit()"  >Login</button>
        <br/>
        <br/>
        <a (click)="onForgotPin()" href="javascript:void(0);">I have forgotten my PIN</a>
        <!-- <button mat-raised-button color="secondary"  *ngIf="!pinResetRequired" (click)="onForgotPin()"  >I've forgotten my PIN</button> -->
        <br/>
    </mat-card-content>
    <mat-spinner diameter="32" *ngIf="loading"></mat-spinner>
    <div *ngIf="message != ''" class="info" [style.width.px]=200>{{message}}</div>
</mat-card>
<app-policy-panel-no-purchases></app-policy-panel-no-purchases>