<mat-card class="news-card">
    <mat-card-header>
        <mat-card-title>General Rules</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <ol>
            <li>New full membership shall be open to persons resident within a 3 mile radius of Boroughbridge, all applications must be made in writing to the secretary, to be put before and passed by the committee.  These members will be entitled to hold office of the club and be allowed to vote at the annual general meeting.
                <br/><br/>Any full member having had 5 years continuous membership who moves outside the 3 mile radius shall retain his status as a full member, providing he does not allow his membership to lapse.</li>
                <br/>
                <li>Associate membership shall be open to persons living outside the 3 mile radius.  Applications to be made in writing to the Treasurer, to be put before, and passed by the committee.
                <br/><br/>
                A person so accepted outside the 3 mile radius shall be called an associate member. By agreement, any associate member 	can be co-opted as an officer of the club, to serve on the committee & vote at the Annual General Meeting.</li>
                <br/>
                <li>Membership shall run yearly from 1st April to 31st March. A member should hold a current valid rod licence to fish throughout the year of membership, failure to do so will result in immediate expulsion from the club for the remainder of that year. An excluded member will have to reapply to the committee for a new membership, on which a vote will be taken by the committee.</li>
                <br/>
                <li>All subscription renewals will be due 1st April or before fishing. </li>
                <br/>
                <li>The committee has the right to refuse any application for membership without recourse.</li>
                <br/>
                <li>No persons shall be allowed to fish unless membership subscription 	has been paid.</li>
                <br/>
                <li>All business concerning club waters to be dealt with by the committee. No matches can be booked without the committee’s sanction.</li>
                <br/>
                <li>Any case of complaint to be submitted in writing via the secretary to be put before the committee at their next meeting.</li>
                <br/>
                <li>Committee meet at the clubs headquarters as per your diary book. Five committee members to form a quorum.</li>
                <br/>
                <li>Annual General Meeting will be held at 8.00 pm at the club’s headquarters on the second Tuesday in January.
                <br/><br/>
                Any Notice of motions for the agenda to be submitted to the Secretary in writing one week before the Annual General Meeting with a proposer and seconder’s signature.</li>
                <br/>
                <li>No member may receive a trophy if found to break any of the club’s rules. Should any question arise upon which the club rules do not touch, the committee have power to deal with it.</li>
                <br/>
                <li>The club shall not amalgamate with any other club.	</li>
                <br/>
                <li>No day tickets on the river during the coarse close season.</li>
                <br/>
                <li>Any adult member may take one guest on any of the clubs waters including Roecliffe Pond on the purchase of a normal day (guest) ticket, purchased in advance of fishing. </li>
                <ul>
                    <li>The member must fish with their guest and be responsible for their guests conduct. </li>
                    <li>Match lengths are NOT available on match days.</li>
                    <li>Day (guest) tickets are available only to adult members, from the following places:-</li>
                    <ul>
                        <li>Online through the club's website</li>
                        <li>On The Run, Horsefair, Boroughbridge, </li>
                        <li>Pybus Newsagent, High Street, Boroughbridge.</li>
                    </ul>
                </ul>
                <br/>
                <li>Keep to footpaths, do not wander from banks, close all gates, 	do 	not climb walls.</li>
                <br/>
                <li>Keep clear of growing crops, meadows, farm stock etc.</li>
                <br/>
                <li>No cars etc., allowed to enter meadows.
                <br/><br/>No camping, erection of tents, bivvies or fires.</li>
                <br/>
                <li>No dogs allowed to accompany members fishing.</li>
                <br/>
                <li>No rubbish to be left on any banks.</li>
                <br/>
                <li>Please protect your fishing - <i>it is in your own interest</i>.</li>
                <br/>
                <li>It is the duty of all members to report any infringement to the secretary or to any committee member.</li>
                <br/>
                <li>No fish to be taken at any time, without it being sanctioned by the committee.</li>
                <br/>
                <li>No open music devices etc., to be played on the river bank,	the exception is listening to music or audio books through headphones.</li>
                <br/>
                <li>NO NIGHT FISHING on ANY of the clubs waters. </li>
                <br/>
                <li>Please insert sticker issued to you, i.e. any new rules or rule changes onto page 19 at the rear of your membership book.</li>
                <br/>
                <li>NO fishing from boats, NO trolling and NO Pike fishing with live baits.</li>
                <br/>
                <li>Membership is NON transferable.</li>
                <br/>
                <li>If you see any pollution on any of our club waters please ring the Environment Agency immediately on the number shown below. They will ask you where you are and what pollution you are reporting.</li>
                <br/>
        </ol>
        <div style="padding-left: 10px; max-width: 450px;">
            <div style="text-align: center;">
                <h3>ENVIRONMENT AGENCY INCIDENT HOTLINE</h3>
                <h3 style="color: red; font-weight: bold;">0800 807060</h3>
            </div>
        </div>
        <br/>
        <h3>PLEASE NOTE:</h3>
        In return for away matches granted to our club by other clubs, it is possible that our own water may be booked in return. 
        <br/>These very odd occurrences will have notices posted on the accesses to the river/pond well in advance.
        <br/>As this situation may occur after going to print, we apologise for any inconvenience.

    </mat-card-content>
</mat-card>

