<h1 class="std-h1">Privacy Notice</h1>

<div class=WordSection1>

   
    <h1>Introduction</h1>
    
    <p class=MsoNormal>For the purposes of this document, Boroughbridge &amp;
    District Angling Club is referred to as 'the club'.</p>
    
    <p class=MsoNormal>This document outlines the club's policy with respect to
    your data and compliance with GDPR (General Data Protection Regulations).</p>
    
    <h1>Purpose of the Data Processing</h1>
    
    <p class=MsoNormal>Your information will be stored to enable the club to
    provide membership services and/or day/guest tickets to enable you to fish the
    club's waters.</p>
    
    <h1>Information Held</h1>
    
    <p class=MsoNormal>The club holds: -</p>
    
    <h3>Membership Information (people paying to be members)</h3>
    
    <p class=MsoSubtitle style='margin-left:36.0pt'><br>
    Membership Spreadsheet (held by Membership Secretary)</p>
    
    <p class=MsoNormal style='margin-left:36.0pt'>Name, Address, Phone Number,
    Address, Email Address, Membership Category, Membership Status.</p>
    
    <p class=MsoSubtitle style='margin-left:36.0pt'>Memberships (held within the
    website database)</p>
    
    <p class=MsoNormal style='margin-left:36.0pt'>Name, Email Address, Membership
    Status. Because the website uses a third-party payment company (Stripe), credit
    card and other billing details are <b>not</b> stored or controlled by the club.</p>
    
    <h3>Day/Guest Ticket Holders (people paying for tickets)</h3>
    
    <p class=MsoSubtitle style='margin-left:36.0pt'><br>
    Ticket Sales Stubs (collected by Membership Secretary from sales outlets)</p>
    
    <p class=MsoNormal style='margin-left:36.0pt'>Name.</p>
    
    <p class=MsoSubtitle style='margin-left:36.0pt'>Orders (held within the website
    database)</p>
    
    <p class=MsoNormal style='margin-left:36.0pt'>Name.</p>
    
    <h1>Data Sharing</h1>
    
    <p class=MsoNormal>Your information will not be shared with any third parties.
    However, online purchases are processed by Stripe who will hold payment/billing
    details. These details are <b>not</b> stored by the club.</p>
    
    <h1>Third Parties</h1>
    
    <p class=MsoNormal>Stripe is GDPR compliant. Their own Privacy Notice is
    available when using Stripe to pay for the club's services.</p>
    
    <h1>Retention Period</h1>
    
    <p class=MsoNormal>Your membership data will be retained whilst you remain a
    club member. If your membership should lapse, the information will be deleted
    after 6 years.</p>
    
    <h1>Your Rights</h1>
    
    <p class=MsoNormal>Your rights under the GDPR are not affected and you have the
    right to view your data, correct any error or ask for it to be erased. You can
    ask for a copy of your records at any time.</p>
    
    <h1>Withdrawal of Consent</h1>
    
    <p class=MsoNormal>You can cancel your membership at any time and request
    removal of information where feasible.</p>
    
    <h1>Automated Processing</h1>
    
    <p class=MsoNormal>The club does not use any automated decision making, data
    processing or profiling technologies.</p>
    
    <h1>Identity and Contact Details</h1>
    
    <p class=MsoNormal>Your information is managed by the membership secretary
    whose details are publicly available on the club's website under the 'Club Info
    '&gt; Club Officers' menu option.</p>
    
    <h1>Your Right to Lodge a Complaint with a Supervisory Authority</h1>
    
    <p class=MsoNormal>If you wish to complain about the handling of your personal
    data; In the first instance, please raise a complaint with the membership
    secretary (contact details above). If you do not get a satisfactory response, you
    can make a complaint to the information Commissioner's office (www.ico.org.uk).</p>
    
    <h1>Consequence of choosing not to provide Personal Information</h1>
    
    <p class=MsoNormal>If you choose not to provide personal information for us to
    process, the club would be unable to provide membership services for you or
    sell you tickets to fish our waters.</p>
    
    <h1>Related Documents</h1>
    
    <p class=MsoNormal>These documents are created in Microsoft Word. They are held
    by the Data Protection Officer and can be provided on request from the membership
    secretary. The Privacy Notice (this document) is also published on the club's
    website.</p>
    
    <p class=MsoNormal><b>Boroughbridge &amp; District Angling Club ' GDPR ' Data Flow
    Mapping</b>: <br>
    BDAC - GPDR - Data Mapping.docx</p>
    
    <p class=MsoNormal><b>Boroughbridge &amp; District Angling Club ' GDPR ' Policy
    &amp; Compliance Statement</b>: <br>
    BDAC - GPDR - Policy and Compliance Statement.docx</p>
    
    <p class=MsoNormal>&nbsp;</p>
    
    <p class=MsoNormal>&nbsp;</p>
    
    </div>
    
