<mat-card class="policy-card" >
    <mat-card-header>
        <mat-card-subtitle>Privacy Information</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            Your personal details will be stored and processed in accordance with the General Data Protection Regulations. Further information on this and your rights is available in the club's <a href="dataPolicy" target="_blank">Privacy Notice</a>. Your information will be used to provide you with membership and / or ticket services and will <b>not</b> be shared with third parties.
        </p>
    </mat-card-content>
</mat-card>