<mat-card class="policy-card" >
    <mat-card-header>
        <mat-card-subtitle>Privacy Information</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            Your personal details will be stored and processed in accordance with the General Data Protection Regulations. Further information on this and your rights is available in the club's <a href="dataPolicy" target="_blank">Privacy Notice</a>. Your information will be used to provide you with membership and / or ticket services and will <b>not</b> be shared with third parties.
            <br/>
            <br/>
            The club uses the Stripe payment system for online purchases. The club's website (and its underlying database) does <b>not</b> collect or hold any payment or biilling data entered as part of a purchase.
        </p>
        <p>
            Stripe's own Terms and Privacy statements can be viewed before submitting your payment, after clicking the "Go to Checkout" button.
        </p>
    </mat-card-content>
</mat-card>