<h1>Purchase Day Tickets online</h1>
<div *ngIf="this.refDataService.isTreasurer() && !isLoading">
    <div >
        <button 
            class="edit-button" 
            mat-stroked-button 
            color="primary" 
            *ngIf="isEnabled" 
            (click)="enable(false)" 
            [disabled]="isEnabling">
                <mat-icon *ngIf="!isEnabling" aria-hidden="false" aria-label="Disable sales">visibility_off</mat-icon>
                <mat-spinner diameter="20" class="button-spinner" *ngIf="isEnabling" ></mat-spinner>
                Disable this Feature
        </button>
        <button 
            class="edit-button" 
            mat-stroked-button 
            color="primary" 
            *ngIf="!isEnabled" 
            (click)="enable(true)" 
            [disabled]="isEnabling">
                <mat-icon *ngIf="!isEnabling" aria-hidden="false" aria-label="Disable sales">visibility</mat-icon>
                <mat-spinner diameter="20" class="button-spinner" *ngIf="isEnabling" ></mat-spinner>
                Enable this Feature
        </button>
    </div>
</div>

<mat-spinner diameter="32" *ngIf="isLoading"></mat-spinner>

<app-feature-disabled-panel *ngIf="!isEnabled"></app-feature-disabled-panel>

<div *ngIf="!isLoading && isEnabled">

    <mat-card class="warning-card" *ngIf="!this.dayTicketsAvailable()">
        <mat-card-header>
            <mat-card-title>Unavailable</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            Day tickets cannot be used in the coarse fishing closed season. Therefore they are unavailable for purchase until 1 week before the new season starts.
            <br/>
            <br/>
            Please come back then.
        </mat-card-content>
    </mat-card>

    <div *ngIf="this.dayTicketsAvailable() && !isLoading">

        <mat-card class="rules-card">
            <mat-card-header>
                <mat-card-title>Notes</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <ul>
                    <li>Day tickets are only available for the River Ure on the Old Cricket Field or Aldborough stretches. Day tickets cannot be used on the members-only stretches. However non-members can fish these stretches if they accompany a member and the member obtains a <a mat-list-item routerLink="/buyGuestTickets">Guest Ticket</a> for the non-member.</li>
                    <li>Day tickets cost {{dayTicket.cost| currency:'GBP'}} and are non-refundable</li>
                    <li>Day tickets can only be obtained up to two weeks in advance of fishing</li>
                    <li>Day tickets cannot be obtained (and are therefore invalid) for the coarse closed season</li>
                    <br/>
                    <li>No dogs, No fires; No camping; No loud music;</li>
                    <li>NO FISHING AFTER DUSK OR FROM BOATS</li>
                    <li>Ticket Holder ONLY permitted to fish and ONLY on the date chosen</li> 
                    <li>NO Live baiting, NO trolling & NO fish to be taken!</li>
                </ul>
            </mat-card-content>
        </mat-card> 

        <mat-card class="purchase-card">
            <mat-card-header>
                <mat-card-title>Ticket Details</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field>
                    <mat-label>Ticket Holder's Name</mat-label>
                    <input class="title-form-field" matInput [(ngModel)]="dayTicket.holdersName">
                </mat-form-field>
                <br/>
                <mat-form-field class="date-form-field" (click)="picker?.open()" style="cursor: pointer">
                    <mat-label>Fishing Date</mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="dayTicket.validOn" [min]="this.minDate" [max]="this.maxDate" [matDatepickerFilter]="this.dateFilter" readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <div class="checkbox-wrapper">
                    <mat-checkbox [(ngModel)]="confirmNoNightFishing" class="checkbox-top">I understand that <span class="attention">night fishing is NOT permitted</span>.
                    </mat-checkbox>
                </div>

                <div class="errors" *ngIf="this.errorMessage != ''">
                    {{this.errorMessage}}
                </div>
                <div class="edit-button-panel">
                    <button 
                        class="edit-button"
                        [ngClass]="[!formComplete() ? 'edit-button-disabled' : '']" 
                        [disabled]="this.isBuying || !formComplete()" 
                        [attr.title]="!formComplete() ? 'Please complete ALL form fields' : ''" 
                        mat-stroked-button 
                        color="primary" 
                        (click)="buy()">
                            <mat-icon *ngIf="!isBuying" aria-hidden="false" aria-label="Go to Checkout">shopping_cart</mat-icon>
                            <mat-spinner diameter="20" class="button-spinner" *ngIf="isBuying" ></mat-spinner>
                            Go to Checkout
                    </button>
                </div>
                <br/>
                <br/>
                <br/>
            </mat-card-content>
        </mat-card> 

        <app-policy-panel *ngIf="this.dayTicketsAvailable()" ></app-policy-panel>
    </div>
</div>