<h1>Junior Trophies</h1>

<mat-card class="trophy-card">
    <mat-card-header>
        <mat-card-title>The Roecliffe Rose Bowl</mat-card-title>
        <mat-card-subtitle>Sponsored by Garry Tilburn</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            The Roecliffe Rose Bowl Angling Contest, organised by the Boroughbridge and District Angling 
            Club, is an exciting event open to all junior members. This angling match provides young anglers 
            with an opportunity to showcase their skills and compete for enticing prizes.
        </p>
        <p>
            The contest takes place in the picturesque setting of Roecliffe pond, a charming village located in 
            North Yorkshire, England. Known for its tranquil waterways and abundant fish population, 
            Roecliffe offers the perfect backdrop for a thrilling angling competition.
        </p>
        <p>
            Junior members of the Boroughbridge and District Angling Club, regardless of their level of 
            experience, are encouraged to participate in the contest. Whether they are seasoned anglers or 
            new to the sport, this event provides a platform for young enthusiasts to engage in friendly 
            competition and enhance their angling abilities.
        </p>
        <p>
            The Boroughbridge and District Angling Club places great emphasis on the conservation of fish 
            and the environment. Therefore, the contest follows strict guidelines and regulations to ensure the 
            ethical treatment of fish and the preservation of their habitats. Anglers are expected to adhere to 
            these guidelines to maintain the sustainability of the local fishing resources.
        </p>
        <p>
            This fabulous series is sponsored by Garry Tilburn, the club's membership secretary and treasurer, 
            who has been a dedicated member for over 50 years. His support and involvement in the event is 
            truly commendable.
        </p>
    </mat-card-content>
</mat-card>
<br/>
<mat-card class="trophy-card">
    <mat-card-header>
        <mat-card-title>Inter School Fishing Tournament</mat-card-title>
        <mat-card-subtitle>Sponsored by Ian's Floats</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            Great news! Entry is now open for the highly anticipated inter-school fishing tournament at 
            Woodlands Lakes in Thirsk. This is an excellent opportunity for junior anglers from schools in the 
            North Yorkshire region to showcase their fishing skills and compete against other talented anglers.
        </p>
        <p>
            To enter your school's team in the tournament, please contact the Boroughbridge and District 
            Angling Club. They will provide you with all the necessary information and guide you through the 
            registration process. Don't miss out on this fantastic chance to be part of an exciting fishing event 
            and represent your school with pride.
        </p>
        <p>
            Whether your school has experienced anglers or students who are new to the sport, this 
            tournament welcomes everyone to participate and enjoy a day of fishing in the beautiful 
            surroundings of Woodlands Lakes. With the support and guidance of the organising committee 
            and sponsors, this event promises to be a memorable and fulfilling experience for all involved.
        </p>
        <p>
            Sponsored by Woodlands Fishery in Thirsk and Middy Tackle, the inter-school fishing tournament 
            organised by the Boroughbridge and District Angling Club promises to be an unforgettable event 
            for junior anglers in the North Yorkshire region. With the generous support of these esteemed 
            sponsors, the tournament aims to provide young anglers with a unique and rewarding experience.
        </p>
        <p>
            After an exciting day of fishing, all participants and their families can look forward to an awards 
            ceremony, where the top-performing teams will be recognised and celebrated. Prizes ranging 
            from fishing equipment to vouchers for fishing trips will be awarded to the winners, adding an 
            extra element of excitement and motivation to the tournament.
        </p>
    </mat-card-content>
</mat-card>
<br/>
<mat-card class="trophy-card">
    <mat-card-header>
        <mat-card-title>Junior Festival</mat-card-title>
        <mat-card-subtitle>Sponsored by Highfield Car & Commercial</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            The Junior Fishing Festival organised by the Boroughbridge and District Angling Club and 
            sponsored by Highfield Car and Commercial sounds like a lot of fun. With prizes galore, the two day fishing competition is sure to be an exciting event for young fishing enthusiasts. The Ripon 
            Canal provides a beautiful setting for the festival, and it's a great opportunity for kids to showcase 
            their fishing skills and enjoy a memorable fishing experience
        </p>
    </mat-card-content>
</mat-card>
<br/>
<mat-card class="trophy-card">
    <mat-card-header>
        <mat-card-title>Junior Champion</mat-card-title>
        <mat-card-subtitle>Sponsored by Richard & Shiela Potter</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            The Boroughbridge and District Angling Club Junior Champion is an esteemed title awarded to 
            the angler who has accumulated the most points throughout the 2024 season. This prestigious 
            award is sponsored by Richard and Sheila Potter, dedicated friends and supporters of the club.
        </p>
        <p>
            Throughout the 2024 season, junior anglers participate in various events and competitions 
            organised by the club. These events take place in a range of fishing venues, including rivers, 
            lakes, and canals in the local area. Each angler earns points based on their performance in these 
            competitions.
        </p>
        <p>
            The sponsorship of the championship by Richard and Sheila Potter reflects their passion for 
            angling and their commitment to supporting the development of young anglers. Their generous 
            support allows the club to provide prizes and recognition for the Junior Champion, as well as 
            other incentives to encourage the participation of junior anglers.
        </p>
    </mat-card-content>
</mat-card>
<br/>
<mat-card class="trophy-card">
    <mat-card-header>
        <mat-card-title>Aggregate weight</mat-card-title>
        <mat-card-subtitle>Sponsored by Bren & Dave</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            One of the notable highlights of the club is the prestigious Aggregate Weight competition, which 
            takes place throughout the 2024 angling season. This competition aims to determine the highest 
            weight achieved by a junior angler over the course of the season. It serves as a platform to 
            encourage young anglers to showcase their skills and passion for the sport.
        </p>
        <p>
            The Aggregate Weight competition is made possible through the generous sponsorship of angler 
            Dave Crawford and his partner Bren Dawson. Dave Crawford, a seasoned angler with a wealth of 
            experience, has been an active member of the Boroughbridge & District Angling Club for many 
            years. Recognising the importance of supporting young talent and fostering a love for angling, 
            Dave and Bren have graciously sponsored the competition to encourage junior anglers to excel in 
            their pursuit of the sport.
        </p>
    </mat-card-content>
</mat-card>
<br/>
<mat-card class="trophy-card">
    <mat-card-header>
        <mat-card-title>Junior & Senior Pairs</mat-card-title>
        <mat-card-subtitle>Sponsored by Crackerjack BBQ</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            The Boroughbridge and District Angling Club is excited to announce its upcoming Junior and 
            Senior Pairs Competition. This unique event brings together junior and senior members of the 
            club to form teams and compete for the top prize. Sponsored by Crackerjack BBQ, the 
            competition promises a sizzling prize for the winning team.
        </p>
        <p>
            The event is not only about the thrill of competition but also about promoting a love for angling 
            among the younger generation. The junior members will have the opportunity to learn from the 
            senior anglers, gaining valuable insights and techniques that will enhance their fishing skills.
        </p>
    </mat-card-content>
</mat-card>
<br/>
<mat-card class="trophy-card">
    <mat-card-header>
        <mat-card-title>Junior Open Match</mat-card-title>
        <mat-card-subtitle>Sponsored by Woodlands Lakes Thirsk</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            The Junior Open Match is an exciting event that welcomes all junior anglers in the region. Held at 
            the renowned Woodland's Lakes in Thirsk, this competition offers a fantastic opportunity for 
            young anglers to showcase their skills and passion for fishing.
        </p>
        <p>
            Sponsored by Craig Kent of Woodlands lakes, the Junior Open Match aims to promote angling 
            among the younger generation and provide a platform for them to enjoy a day of friendly 
            competition. With prizes and trophies up for grabs, participants have the chance to be recognised 
            for their achievements and dedication to the sport.
        </p>
        <p>
            Woodland's Lakes, located in the picturesque town of Thirsk, is a well-known fishing venue that 
            offers a range of fishing experiences. With several well-stocked lakes and a diverse selection of 
            fish species, anglers can test their skills and strategy in a beautiful natural setting.
        </p>
    </mat-card-content>
</mat-card>
<br/>
<mat-card class="trophy-card">
    <mat-card-header>
        <mat-card-title>Junior Pairs</mat-card-title>
        <mat-card-subtitle>Sponsored by Flyzone</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            The Boroughbridge and District Angling Club is excited to announce its upcoming Junior Pairs 
            Fishing Contest. This thrilling event is designed to bring young anglers together for a day of 
            friendly competition and to promote a love for fishing among the youth.
        </p>
        <p>
            In this contest, junior anglers participate in pairs, working together as a team to catch the highest 
            combined weight of fish. This unique format encourages teamwork, cooperation, and 
            sportsmanship among the young participants. It also provides an opportunity for them to learn 
            from and support each other throughout the contest.
        </p>
        <p>
            Thanks to the generous sponsorship from Flyzone, there will be a range of exciting prizes and 
            trophies up for grabs. The winning pair will not only receive recognition for their outstanding 
            performance but also take home the coveted championship trophy. Additionally, there will be 
            prizes awarded to the runners-up and other top-performing pairs.
        </p>
    </mat-card-content>
</mat-card>
<br/>
<mat-card class="trophy-card">
    <mat-card-header>
        <mat-card-title>Best Silvers Weight</mat-card-title>
        <mat-card-subtitle>Sponsored by Cadence fishing UK</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            The Boroughbridge and District Angling Club's prestigious "Best Silvers Weight" award is an 
            exciting competition that recognises the angler who achieves the highest weight of silver fish 
            throughout the 2024 season. This esteemed accolade is proudly sponsored by Cadence Fishing 
            UK, a renowned brand known for its high-quality fishing equipment.
        </p>
    </mat-card-content>
</mat-card>
<br/>
<mat-card class="trophy-card">
    <mat-card-header>
        <mat-card-title>Most improved Junior angler</mat-card-title>
        <mat-card-subtitle>Sponsored by Highfield Car & Commercial</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            The Boroughbridge and District Angling Club is proud to announce the establishment of an award 
            for the Most Improved Junior Angler in the upcoming 2024 season. This award aims to recognise 
            and celebrate the dedication, progress, and growth of young anglers within the club.
        </p>
        <p>
            To be eligible for the award, junior anglers must be members of the Boroughbridge and District 
            Angling Club and actively participate in club events and competitions throughout the 2024 
            season. The award will be based on the individual angler's improvement and progress over the 
            course of the season, taking into account factors such as skill development, knowledge of angling 
            techniques, sportsmanship, and overall performance.
        </p>
        <p>
            The Boroughbridge and District Angling Club expresses its sincere gratitude to Highfield Car and 
            Commercial for their generous sponsorship of the Most Improved Junior Angler award. Their 
            support plays a significant role in motivating and inspiring young anglers to excel in the sport and 
            continue their angling journey with passion and dedication
        </p>
    </mat-card-content>
</mat-card>
<br/>
<mat-card class="trophy-card">
    <mat-card-header>
        <mat-card-title>Best Specimen Fish</mat-card-title>
        <mat-card-subtitle>Sponsored by TOMS Pond in Otley</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            The Boroughbridge and District Angling Club's award for the best specimen fish caught in the 
            2024 season, sponsored by TOMS Pond in Otley, is a highly anticipated award for junior fishing 
            enthusiasts in the area. This prestigious award recognises the skill, dedication, and passion of 
            anglers who have managed to land an exceptional specimen fish during the season
        </p>
    </mat-card-content>
</mat-card>
<br/>
