<div>
    <div style="display: flex;">
        <h1 class="left-header">League Standings</h1>
        <span [ngClass]="[this.screenService.IsHandset ? 'example-fill-remaining-space' : 'season-selector-margin-desktop']" ></span>
        <mat-form-field class="season-selector" *ngIf="!isLoading">
            <mat-label>Season</mat-label>
            <mat-select [(ngModel)]="selectedSeason" (selectionChange)="loadLeague()" >
            <mat-option *ngFor="let season of refData.seasons" [value]="season.season">{{season.name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>  

    <mat-tab-group mat-align-tabs="start" animationDuration="0ms" (selectedTabChange)="tabChanged($event)">
        <mat-tab label="{{matchService.AggSpringTabName}}"></mat-tab>
        <mat-tab label="{{matchService.AggClubRiverTabName}}"></mat-tab>
        <mat-tab label="{{matchService.AggClubPondTabName}}"></mat-tab>
        <mat-tab label="{{matchService.AggJuniorTabName}}"></mat-tab>
        <mat-tab label="{{matchService.AggOsuTabName}}"></mat-tab>
        <mat-tab label="{{matchService.AggEveningTabName}}"></mat-tab>
    </mat-tab-group>
    <br/>
    <mat-spinner diameter="32" *ngIf="isLoading"></mat-spinner>
    <p *ngIf="!isLoading && standings.length == 0">Not yet available</p>
    <table mat-table [dataSource]="standings" class="mat-elevation-z8" *ngIf="standings.length > 0">

        <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef class="first-col"> Position </th>
            <td mat-cell *matCellDef="let element" class="first-col"> {{element.position}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Points Column -->
        <ng-container matColumnDef="points">
            <th mat-header-cell *matHeaderCellDef align="end"> Pts </th>
            <td mat-cell *matCellDef="let element" align="end"> {{element.points}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


</div>
